
<img src="download.png">



|Programme| Semester |  Course  | Code|Faculty|RgNo|Name 
|---------|--------------|--------------------|--------|------------|---------|------------|
|M. C. A. |WINTER 2023-24|Python Programming Lab|ITA 6017|Dr. SHAHJAHAN SOFIA NISHATH|22MCA1054|Pratik Bharadwaj|


### Python Programming lab Excersise 2

# QUESTION 1

## 1.Make a  program  that  asks  the number  between  1  and 10.  If  the number is out of range the program should display “invalid number”.

In [1]:
print("22MC1054_PRATIK_BHARADWAJ\n");
PRATIK = int(input("Enter a number between 1 and 10: \n\n"))

if PRATIK < 1 or PRATIK > 10:
    print("Invalid number")
else:
    print("\nValid number\n");
    print("numbers upto the valid number within range:");
    for i in range(1, PRATIK+1):
        print(i)

22MC1054_PRATIK_BHARADWAJ

Enter a number between 1 and 10:

10

Valid number

numbers upto the valid number within range:
1
2
3
4
5
6
7
8
9
10

# QUESTION 2

## 2.Make a program that lists the countries in the set clist = ['Canada','USA','Mexico','Australia']

In [2]:
print("22MC1054_PRATIK_BHARADWAJ\n");
PRATIK={'Canada','USA','Mexico','Australia'}
for country in PRATIK:
    print(country);

22MC1054_PRATIK_BHARADWAJ

USA
Australia
Canada
Mexico

# QUESTION 3

## 3.Create a loop that counts from 0 to 100

In [3]:
print("22MC1054_PRATIK_BHARADWAJ \n");

#printing the values 
print("values from 0 to 100 is :\n")
count = 0
for PRATIK in range(0,101):
    count = count+1
    print(PRATIK,end = '  ',sep = ',' );

print("\n\nLOOP COUNT FROM 0 TO 100 IS :\n")
#printing the loop count
print(count);

22MC1054_PRATIK_BHARADWAJ

values from 0 to 100 is :

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100

LOOP COUNT FROM 0 TO 100 IS :

101

# QUESTION 4

## 4.Make a multiplication table using a loop

In [4]:
print("22MC1054_PRATIK_BHARADWAJ");
n=int(input("\n Display table of ?: "))
print("\n the table is");
for PRATIK in range(1, 11):
    print("\n",n, 'x', PRATIK, '=', n*PRATIK);

22MC1054_PRATIK_BHARADWAJ

 Display table of ?: 5

 the table is

 5 x 1 = 5

 5 x 2 = 10

 5 x 3 = 15

 5 x 4 = 20

 5 x 5 = 25

 5 x 6 = 30

 5 x 7 = 35

 5 x 8 = 40

 5 x 9 = 45

 5 x 10 = 50

# QUESTION 5

## 5.Output the numbers 1 to 10 backwards using a loop

In [5]:
print("22MC1054_PRATIK_BHARADWAJ");
#The reversed num from 1 to 10 is:

#using reversed function
for PRATIK in reversed(range(1,11)):
    print("\n",PRATIK, sep=" ",end = " ");

22MC1054_PRATIK_BHARADWAJ

 10
 9
 8
 7
 6
 5
 4
 3
 2
 1

# QUESTION 6

## 6.Create a loop that counts all even numbers to 10

In [6]:
print("22MC1054_PRATIK_BHARADWAJ");

#printing the values from 0 to 10
print("\n Even numbers from up to 10 are :")
count=0
for PRATIK in range(1,11):
    if PRATIK%2==0:
        count += 1
        print("\n",PRATIK);
print("\n LOOP COUNT OF ALL EVEN NUMBERS TO 10 IS :")
#printing the loop count
print("\n",count,"\n")

22MC1054_PRATIK_BHARADWAJ

 Even numbers from up to 10 are :

 2

 4

 6

 8

 10

 LOOP COUNT OF ALL EVEN NUMBERS TO 10 IS :

 5

# QUESTION 7

## 7.Create a loop that sums the numbers from 100 to 200

In [7]:
print("22MC1054_PRATIK_BHARADWAJ");
PRATIK = sum([i for i in range(100, 201)])

print("\n The sum of numbers from 100 to 200 is :\n",PRATIK);

22MC1054_PRATIK_BHARADWAJ

 The sum of numbers from 100 to 200 is :
 15150

# QUESTION 8

## 8.Make a program that lists the countries in the set below using a while loop. clist = ["Canada","USA","Mexico"]

In [8]:
print("22MC1054_PRATIK_BHARADWAJ");
PRATIK=['Canada','USA','Mexico','Australia']

#using while True
i = 0

while True:
    if i >= len(PRATIK):
        break
    print("\n",PRATIK[i])
    i += 1

22MC1054_PRATIK_BHARADWAJ

 Canada

 USA

 Mexico

 Australia

# QUESTION 9

## 9.Make a program that displays the states in the U.S. states = [ 'Alabama', .. ,'Wyoming']
## Display all states starting with the letter M.

In [9]:
PRATIK = {
    "US": [
        'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 
        'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 
        'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 
        'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
        'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 
        'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 
        'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 
        'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 
        'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ]
}

In [10]:
print("22MC1054_PRATIK_BHARADWAJ \n");
print("The states of U.S :")
for state in PRATIK['US']:
    if state.startswith('M'):
        print(state)

22MC1054_PRATIK_BHARADWAJ

The states of U.S :
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

# QUESTION 10

## 10. Write a program which accepts a sequence of comma-separated          numbers from console and generate a list and a tuple which           contains every number. Suppose the following input is supplied          to the program: 34, 67, 55, 33, 12, 98. Then, the output should be:          ['34', '67', '55', '33', '12', '98'] ('34',67', '55', '33', '12', '98').

In [11]:
print("22MC1054_PRATIK_BHARADWAJ");

#taking input as string AND making it as list
PRATIK = str(input("\n enter values seprated by commas ,  :")).split(",") 
print(type(PRATIK))
num_tuple = tuple(PRATIK)        

print("\n the list is :",PRATIK)  
print("\n the tuple is :",num_tuple)

22MC1054_PRATIK_BHARADWAJ

 enter values seprated by commas ,  :34, 67, 55, 33, 12, 98
<class 'list'>

 the list is : ['34', ' 67', ' 55', ' 33', ' 12', ' 98']

 the tuple is : ('34', ' 67', ' 55', ' 33', ' 12', ' 98')

# QUESTION 11

## 11.With a given tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), write a program to print the first half values in one line and the last half values in one line

In [12]:
print("22MC1054_PRATIK_BHARADWAJ");
PRATIK = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\n origional tuple :", PRATIK)

#for 1st half
print("\n first half :",PRATIK[:len(PRATIK)//2])

#for 2nd half
print("\n second half :",PRATIK[len(PRATIK)//2:])

22MC1054_PRATIK_BHARADWAJ

 origional tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

 first half : (1, 2, 3, 4, 5)

 second half : (6, 7, 8, 9, 10)

# QUESTION 12

## 12. Find 
## a) The sum and average of given numbers using lists.
## b) To display elements of list in reverse order.
## c) Finding the minimum and maximum elements in the lists.

In [13]:
print("22MC1054_PRATIK_BHARADWAJ");
PRATIK = input("\n Enter the element of the list sep by comma: ").split(',')
print("\n",type(PRATIK))

#converting elements to a integer
PRATIK=[ int(x) for x in PRATIK ]

#part a
print("\n the sum is :", sum(PRATIK));
print("\n the average is :", sum(PRATIK)/len(PRATIK));

#part b
#using slicing
print("\n elements of list in reversed order :", PRATIK[::-1]);

#part c
print("\n the minimum element is :",min(PRATIK),);
print("\n the maximum element is :", max(PRATIK))

22MC1054_PRATIK_BHARADWAJ

 Enter the element of the list sep by comma: 10,20,30,40,50

 <class 'list'>

 the sum is : 150

 the average is : 30.0

 elements of list in reversed order : [50, 40, 30, 20, 10]

 the minimum element is : 10

 the maximum element is : 50